body {
  background-color: #ece8d9;
  color: #494949;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  background-color: #faf6e9;
}

footer {
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #494949;
}

.container {
  background-color: #fffdf6;
  max-width: 600px;
  border-radius: 10px;
  padding: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 30px auto;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 10px 0;
  border-bottom: 1px dashed #ece8d9;
}

.city:last-child {
  border: none;
}

.date {
  padding: 0 0 15px;
}

.time {
  font-size: 38px;
  font-weight: bold;
}

.time small {
  font-size: 16px;
  line-height: 38px;
  vertical-align: middle;
}

#link {
  color: #494949;
  line-height: 2.5;
}
